@charset "UTF-8";


:root {
    --cor0: #CB3DF2;
    --cor1: #9163F2;
    --cor2: #7176D9;
    --cor3: #5B9ED9;
    --cor4: #5BCCD9;
}


body {
    background-image: linear-gradient(to top, #5B9ED9,#CB3DF2  );
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    height: 500px;
    width: 400px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.267);
}

h1 {
    text-align: center;
    margin-top: 80px;
    padding-top: 30px;
    font-family: sans-serif;
    font-weight: bolder;
    
}

input {
    padding-right: 10px;
    border-style:groove; 
    border-radius: 5px;
}

form p {
    padding-left: 100px;
}

.login {
    display: block;
    color: white;
    background-image: linear-gradient(var(--cor4),var(--cor0));
    padding: 4px 80px;
}

.semsenha {
    text-align: right;
    margin-right: 20px;
}

a {
    color: rgba(0, 0, 0, 0.534);
    text-decoration:none;
    
}

.conta{
    font-weight: bold;
    padding-left: 160px;
}

aside > p {
    font-family: sans-serif;
    font-size: 0.7em;
    text-align: center;
    padding-top: 40px;
}

nav {
    text-align: center;
    padding-bottom: 30px;
    margin: 3px;
}
img {
    padding: 10px;
}

