@charset "UTF-8";


:root {
    --cor0: #CB3DF2;
    --cor1: #9163F2;
    --cor2: #7176D9;
    --cor3: #5B9ED9;
    --cor4: #5BCCD9;
}


body {
    background-image: linear-gradient(to top, #5B9ED9,#CB3DF2  );
    background-attachment: fixed;
}

main {
    height: 500px;
    width: 400px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.267);
}

h1 {
    text-align: center;
    margin-top: 80px;
    padding-top: 30px;
    font-family: sans-serif;
    font-weight: bolder;
    
}

input{
    margin: 7px;
    margin-inline: 114px;
    padding-right: 10px;
    border-style:groove; 
    border-radius: 5px;
}

.nome{
    color: rgb(0, 0, 0, 0.322);
    font-family: sans-serif;
    padding-left: 115px;
    margin: 0px;
}

.senha{
    color: rgba(0, 0, 0, 0.322);
    font-family: sans-serif;
    padding-left: 115px;
    margin: 0px;
    
}

.login {
    color: white;
    background-image: linear-gradient(to right,#5BCCD9, #CB3DF2);
    text-decoration: none;
    margin-inline: 114px;
    padding: 3px 73px ;
    border-radius: 16px;
    
}

.semsenha{
    text-align: right;
    margin-right: 20px;
}

a {
    color: rgba(0, 0, 0, 0.534);
    text-decoration:none;
    
}

.conta{
    font-weight: bold;
    padding-left: 160px;
}

aside > p {
    font-family: sans-serif;
    font-size: 0.7em;
    text-align: center;
    padding-top: 40px;
}

nav {
    text-align: center;
    padding-bottom: 30px;
    margin: 3px;
}
img {
    padding: 10px;
}

